$zen-column-count: 3;

#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: $gazzel-max-width;
}

.node-type-article #main {
  width: $gazzel-article-max-width;
  margin-left: auto;
  margin-right: auto;
}

.view-id-issue_view {
  @include zen-grid-container;
  text-align: center;
  
  .views-row-1, .views-row-4, .views-row-7 {
     @include zen-grid-item(1, 1);
     @include zen-clear();
  }
  .views-row-2, .views-row-5, .views-row-8 {
     @include zen-grid-item(1, 2);
  }    
  .views-row-3, .views-row-6, .views-row-9 {
     @include zen-grid-item(1, 3);
  }
  
  img {
    width: 250px;
    height: auto;
  }
}
